.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 173px;
  height: auto;
  margin: 209px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}